@using Timetable.Common.Enums
@using Timetable.Common.Enums
@using Timetable.Common.Utilities
@typeparam TEvent where TEvent : class
@attribute [type: RenderModeInteractiveServer]

<div class="timetable-wrapper">
    <Options
        Events="Events"
        ExportConfig="ExportConfig"
        TimetableConfig="TimetableConfig"
        OnDisplayTypeChanged="OnDisplayTypeChanged" />

    <div class="timetable">
        <Header
            Config="TimetableConfig"
            OnNextClicked="OnNextClicked"
            OnPreviousClicked="OnPreviousClicked" />

        <div class="timetable-content">
            <div class="timetable-head">
                <div class="timetable-time-column"></div>
                @{
                    var startOfWeek = DateHelper.GetStartOfWeekDate(TimetableConfig.CurrentDate, TimetableConfig.Days.First());
                }
                @foreach (var dayOfWeek in TimetableConfig.Days)
                {
                    var dateForDay = DateHelper.GetDateForDay(startOfWeek, dayOfWeek);
                    <div class="timetable-head-cell" @onclick="() => HandleChangedToDay(dayOfWeek)">
                        @dateForDay.ToString("dddd").Capitalize()
                    </div>
                }
            </div>
            
            @if (_timetable.Rows.Any(row => row.IsWholeDayRow))
            {
                var wholeDayRow = _timetable.Rows.First(row => row.IsWholeDayRow);
                <div class="timetable-whole-day-row">
                    <div class="timetable-time-column"></div>
                    @foreach (var cell in wholeDayRow.Cells)
                    {
                        <div class="timetable-whole-day-cell" data-slot-id="@cell.Id" @key="cell.Id">
                            @foreach (var cellEvent in cell.Events)
                            {
                                <TimetableEvent
                                    EventId=@cellEvent.Id
                                    Title=@cellEvent.Title
                                    IsWholeDay=@cellEvent.IsWholeDay
                                    Span=@cellEvent.Span
                                    DetailTemplate=@(builder => DetailTemplate(cellEvent.Event)(builder)) />
                            }
                        </div>
                    }
                </div>
            }
            
            @foreach (var row in _timetable.Rows.Where(r => !r.IsWholeDayRow))
            {
                <div class="timetable-row">
                    <div class="timetable-time-column">
                        @(TimetableConfig.Is24HourFormat
                            ? row.RowStartTime.ToString("HH:mm")
                            : row.RowStartTime.ToString("h tt"))
                    </div>
                    @foreach (var cell in row.Cells)
                    {
                        <div class="timetable-body-cell" data-slot-id="@cell.Id" @key="@cell.Id">
                            @foreach (var cellEvent in cell.Events)
                            {
                                <TimetableEvent
                                    EventId=@cellEvent.Id
                                    Title=@cellEvent.Title
                                    DetailTemplate=@(builder => DetailTemplate(cellEvent.Event)(builder))
                                    Span=@cellEvent.Span>
                                </TimetableEvent>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>